 <div class="cpy_">
         <p class="mx-auto"> All Rights Reserved By adhilahammed0@gmail.com</a><br>
         
            {{!-- Distributed By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a> --}}
         
         </p>
      </div>