

<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="images/favicon.png" type="">
      <title>Famms - Fashion HTML Template</title>
      <!-- bootstrap core css -->
      {{!-- <link rel="stylesheet" type="text/css" href="css1/bootstrap.css" /><!--bootstrap of famms--> --}}
      <!-- font awesome style -->
      <link href="/css1/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/css1/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/css1/responsive.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <!-- CSS here time zone-->
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css"><!--bootstrap of timezone-->
      <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
      {{!-- <link rel="stylesheet" href="assets/css/flaticon.css"> --}} <!-- cart icon here -->
      <link rel="stylesheet" href="/assets/css/slicknav.css">
      <link rel="stylesheet" href="/assets/css/animate.min.css">
      <link rel="stylesheet" href="/assets/css/magnific-popup.css">
      <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
      <link rel="stylesheet" href="/assets/css/themify-icons.css">
      <link rel="stylesheet" href="/assets/css/slick.css">
      <link rel="stylesheet" href="/assets/css/nice-select.css">
      <link rel="stylesheet" href="/assets/css/style.css">
       <!-- CSS here time zone end-->
   </head>
 <body>
  {{#if admin}}
  {{>admin-header}}
  {{else}}
  {{>user-header}}
  {{/if}}
  {{{body}}}
      <!-- jQery -->
      <script src="/js2/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="/js2/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="/js2/bootstrap.js"></script>
      <!-- custom js -->
      <script src="/js2/custom.js"></script>
      <!--time zone starts-->
      <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="/assets/js/jquery.slicknav.min.js"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>

  <!-- One Page, Animated-HeadLin -->
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/animated.headline.js"></script>
  
  <!-- Scrollup, nice-select, sticky -->
  <script src="/assets/js/jquery.scrollUp.min.js"></script>
  <script src="/assets/js/jquery.nice-select.min.js"></script>
  <script src="/assets/js/jquery.sticky.js"></script>
  <script src="/assets/js/jquery.magnific-popup.js"></script>

  <!-- contact js -->
  <script src="/assets/js/contact.js"></script>
  <script src="/assets/js/jquery.form.js"></script>
  <script src="/assets/js/jquery.validate.min.js"></script>
  <script src="/assets/js/mail-script.js"></script>
  <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
  
  <!-- Jquery Plugins, main Jquery -->	
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/main.js"></script>
  <!--time zone ends-->
       <script src="/js2/ajax.js"></script>
   </body>
</html>

